.info {
    z-index: -1;

    .abilities {
        @media screen and (min-width: 700px) {
            clear: both;
            margin-top: 35px;
        }
    }
}

@media screen and (max-width: 500px) {
    .info {
        margin: 0;
    }
}