.characterSelect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .character {
    border-radius: 25px;
    border: 1px solid lightgrey;
    width: 85px;
    margin: 8px;
    display: inline-block;

    img {
      width: 100%;
      border-radius: 25px;
      position: relative;
    }

    &:hover {
      cursor: pointer;
    }
  }
}