@font-face {
  font-family: 'OW-font';
  src: local('OW-font'), url("./Fonts/bignoodletitling/big_noodle_titling.ttf");
}

body {
  font-family: 'OW-font';
  font-size: 22px;
  min-height: 100vh;
  margin-bottom: 20px;
  color: white;
  background: black;

  hr {
    border-color: white;
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 20px;
  }

  .App {
    max-width: 1230px;
    margin: auto;

    .charSelect {
      margin-left: 20px;
    }

    .characterContainer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media screen and (min-width: 700px) {
        float: left;
      }
    }

    button {
      &.btn.btn-outline-primary {
        font-size: 22px;
      }
    }
  }
}


